body {
	font-family: sans-serif;
}
#page {
    width: 90%;
    padding: 20px;
    margin: auto;
    color: #CACACA;
    border-color: #CACACA;
    border-width: 1px;
    border-style: solid;
}
#content {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin: auto;
    border-color: #CACACA;
    border-width: 1px;
    border-style: solid;
    background-color: #FAFAFA;
}
#password {
	margin-bottom: 10px;
	font-family: sans-serif;
	padding: 5px;
}
#percentage, #description {
	margin-left: 2px;
	font-family: sans-serif;
	font-weight: bold;
	color: white;
	font-size: 12px;
	padding: 4px;
}
#percentage {
    background-color: #BBBBBB;
}
#description {
    background-color: red;
}
